[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=caymard
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/caymard/.config/i3/scripts/lock.sh

[Install]
WantedBy=sleep.target suspend.target
